.filter-button {
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.filter-button.selected {
  /* border-color: rgba(175, 47, 47, 0.2); */
  border: 1px solid;
}
